{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- main style -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- blog style -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- account style  -->
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
</head>
<body>
    {% include 'includes/sidebar.html' %}
    {% include 'includes/messages.html' %}
    
    <div class="content">
        <div style="margin-top: 1%;">
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- main script -->
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>