{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<br>
<div id="home-div">
    <h2 align="center"> < I`m Armin Emami /> </h2>
    <h3 align="center"> < A BackEnd Web Developer /> </h3>
    <hr>
    <div>
        <h2><i>Skills:</i></h2>
        <ul><li>Python</li></ul>
        <ul><li>Php (Base)</li></ul>
        <ul><li>Html, Css, Js, Bootstrap (Base)</li></ul>
        <ul><li>Django</li></ul>
        <ul><li>Django Channels</li></ul>
        <ul><li>DRF (Django Rest Framework)</li></ul>
        <ul><li>Flask</li></ul>
        <ul><li>FastAPI</li></ul>
    </div>
    <hr>
    <h2><i>Socials:</i></h2>
    <ul><li><a href="">Gmail</a></li></ul>
    <ul><li><a href="">GitHub</a></li></ul>
    <ul><li><a href="">Instagram</a></li></ul>
    <ul><li><a href="">Telegram</a></li></ul>
    <ul><li>Call: (+98) 0918 427 6295</li></ul>
</div>

{% endblock %}