{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<br>
<div id="home-div">
    <h2 align="center"> < I`m Armin Emami /> </h2>
    <h3 align="center"> < A BackEnd Web Developer /> </h3>
    <hr>
    <div>
        <h2><i>Skills:</i></h2>
        <ul><li>Python</li></ul>
        <ul><li>Html, Css, Js, Bootstrap (Base)</li></ul>
        <ul><li>Django</li></ul>
        <ul><li>Django Channels</li></ul>
        <ul><li>DRF (Django Rest Framework)</li></ul>
        <ul><li>Flask</li></ul>
    </div>
    <hr>
    <h2><i>Socials:</i></h2>
    <ul><li>Email: <span class="text-primary">armin.programmer.py@gmail.com</span></li></ul>
    <ul><li>GitHub: <a href="https://github.com/ArminEmamidp">ArminEmamidp</a></li></ul>
    <ul><li>Instagram: <span class="text-primary">armin_____emami</span></li></ul>
    <ul><li>Telegram: <span class="text-primary">ArminEmamiProgrammer</span></li></ul>
    <ul><li>Call: <span class="text-primary">(+98) 0918 427 6295</span></li></ul>
</div>

{% endblock %}